#clockContainer{
    position:static;
    margin: auto;
    height: 55vh;
    width: 25vw;
    background: url(w2.jpeg) no-repeat;
    background-size: cover;
}
#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: .3%;
    height: 12%;
    top: 17%;
    left: 49.7%;
    

}
#minute{
    width: .4%;
    height: 17%;
    top: 12%;
    left: 49.9%;
    
}
#second{
    width: .5%;
    height: 20%;
    top: 9%;
    left: 49.7%;
    
}